.triangle {
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: green;
}

.close {
	font-size: 16px;
}

.open {
	font-size: 14px;
}
.hidden {
	display: none;
}

.listMenu {
	list-style: none;
}
